:root{
    --primary-pastel-green: #87af98;
    --secondary-pastel-green: #9DC6AF;
    --primary-white: #FAFCFB;
    --primary-grey: #424242;
    --secondary-grey: rgb(175, 175, 175);
    --light-grey: rgb(236, 236, 236);
    --bright-red: rgb(236, 77, 77);
    --bright-orange: rgb(177, 130, 0);
    --bright-green: rgb(0, 182, 55);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'QuickSand', sans-serif;
    font-size: 16px;
    :focus { outline: none; }
}
input,
textarea,
select,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  border: none;
  background-color: transparent;
}
body{
    min-height: 100vh;
}
#page{
    height: 100vh;
}
@font-face {
    font-family: 'QuickSand';
    src:  url('./assets/fonts/Quicksand-Light.woff2') format('woff2'),
          url('./assets/fonts/Quicksand-Light.woff') format('woff');
}
.upper-nav{
    background-color: var(--primary-pastel-green);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navigator-name{
    color:var(--primary-grey);
    font-size: 2.8em;
    margin-left: 20px;
    font-weight: bolder;
}
.logo{
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: 0.3s;
}
.logo:hover{
    transform: scale(105%);
}
.logo:active{
    transform: scale(90%);
}
.main-content{
    display: flex;
    height: calc(100% - 140px);
    background-color: var(--primary-white);
}
.theme-switch{
    background-color: #313131;
    border: solid 4px #ebebeb;
    border-radius: 50px;
    cursor: pointer;
    height: 35px;
    outline-width: 5px;
    position: relative;
    width: 80px;
}
.theme-switch-icon{
    background-color: rgb(250, 247, 93);
    border-radius: 100%;
    content: "";
    display: block;
    height: 21px;
    margin: 0px 6px;
    position: relative;
    width: 21px;
    transition: background-color 0.3s, transform 0.3s;
}

.right-nav-side{
    display: flex;
    align-items: center;
    gap: 30px;
}
.projects-nav{
    width: 290px;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    display: block;
    overflow: auto;
    padding-top: 50px;
}
.all-tasks, .this-week-parent, .this-month-dom{
    display:flex;
    align-items: center;
    margin: 0 0 32px 0;
    justify-content: center;
    gap: 20px;
}
.coffee-icon, .calendar-card, .box-icon{
    width: 38px;
    height: 38px;
}
.projects-title{
    color: var(--primary-grey);
    font-size: 2em;
    font-weight: bold;
}
.projects-button{
    color: #424242;
    width:60px;
    height: 60px;
    font-size: 3em;
    border-radius: 50%;
    text-align: center;
    border: none;
    padding: 0px 15px;
    transition: 0.3s;
}
.projects-button:hover{
    transform: scale(130%);
    transition: 0.3s;
    cursor: pointer;
}
.projects-add-section{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
#project-modal, .task-modal{
    position: absolute;
    background-color: var(--primary-white);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 200px;
    max-width: 350px;
    border: 2px solid var(--secondary-pastel-green);
    border-radius: 10px;
    box-shadow: var(--primary-grey) 0px 3px 8px;
    padding:15px;
}
input[type=text],.text-area{
    border: 1px solid var(--secondary-grey);
    font-size: 1.5em;
    border-radius: 6px;
    width: 200px;
    text-align: center;
    color: var(--primary-grey);
}
input[type=text]:focus, .text-area:focus {
    outline:1px solid var(--secondary-pastel-green);
}
.project-add-btn, .task-button, .submit-task{
    font-size: 1em;
    padding: 5px;
    font-weight: bold;
    border: 2px solid var(--secondary-pastel-green);
    color:var(--secondary-pastel-green);
    background-color: transparent;
    border-radius: 7px;
    width: 120px;
    text-align: center;
}
.project-add-btn:hover, .task-button:hover, .submit-task:hover{
    background-color: var(--primary-pastel-green);
    color: var(--primary-white);
    transition: 0.3s;
    cursor: pointer;
}
.project-add-btn:active, .task-button:active, .submit-task:active{
    background-color: var(--secondary-pastel-green);
    color: var(--primary-white);
    transform: scale(95%);
    cursor: pointer;
}
.close-btn{
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 10px;
}
.close-btn:hover{
    transform: scale(120%);
    transition: 0.3s;
}
.close-btn:active{
    transform: scale(90%);
    transition: 0.3s;
}
.modal-content{
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.projects-display{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pro-instance, .all-tasks-btn, .this-week, .this-month-btn{
    color: var(--primary-grey);
    font-size: 1.45em;
    font-weight: bold;
    text-align: center;
    width: 100px;
    word-break: normal;
}
.pro-instance:hover, .all-tasks-btn:hover, .this-week:hover, .this-month-btn:hover{
    color:  var(--primary-pastel-green);
    transform: scale(110%);
    transition: 0.3s;
    cursor: pointer;
}
.all-tasks-btn, .this-week, .this-month-btn{
    width: 115px;
    font-size: 1.4em;
}
.remove-project, .remove-task{
    width: 48px;
    height: 48px;
    font-size: 1.2em;
    border-radius: 50%;
    text-align: center;
    border: none;
    padding: 0px 15px;
    transition: 0.3s;
    font-weight: bolder;
    background-color: transparent;
    color: #424242;
}
.remove-project:hover, .remove-task:hover{
    transform: scale(140%);
    transition: 0.3s;
    cursor: pointer;
}
.remove-project:active, .remove-task:active{
    transform: scale(90%);
    transition: 0.3s;
}
.project-div{
    display: flex;
    align-items: center;
    gap:35px;
}
.project-active, .tasks-active{
    color: var(--secondary-pastel-green);
}
.task-modal{
   max-height: 500px;
}
dialog::backdrop{
    backdrop-filter: blur(3px);
}
.task-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
}
.task-display{
    flex-grow:1;
    background-color: var(--primary-white);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    overflow: auto;
    margin-bottom: 10px;
}
.task-button{
    height: 50px;
    width: 125px;
    font-size: 1.3em;
    margin-top: 40px;
}
.text-area{
    max-height: 100px;
    resize: none;
    font-size: 1.2em;
}
.task-date{
    font-size: 1.2em;
    cursor:pointer;
    color: var(--primary-grey);
}
.task-priority{
    font-size: 1.2em;
    background-color: var(--secondary-pastel-green);
    color: var(--primary-white);
    padding: 2px;
    font-weight: bolder;
    border: 1px solid var(--secondary-pastel-green);
    border-radius: 8px;
    cursor: pointer;
}
option{
    font-weight: 600;
}
input#project-title{
    color:var(--primary-grey);
}
.status-info-label{
    display: flex;
    gap: 20px;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}
input[type=checkbox]{
    accent-color: var(--primary-grey);
    margin: 4px 0 0;
    line-height: normal;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.task-item{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 10px;
    align-items: center;
    border: 2.5px solid grey;
    border-radius: 5px;
}
.task-item div{
    font-size:  1.3em;
    font-weight: bold;
}
.task-disp-desc{
    word-break: break-word;
    color: var(--primary-pastel-green);
    width: 200px;
}
.task-disp-date{
    width: 130px;
    color: var(--primary-grey);
}
.task-disp-priority-low{
    color: var(--bright-green);
    width: 100px;
}
.task-disp-priority-medium{
    color: var(--bright-orange);
    width: 100px;
}
.task-disp-priority-high{
    color: var(--bright-red);
    width: 100px;
}
.grey-out{
    color: var(--secondary-grey);
    text-decoration: line-through
}
.hamburger{
    width: 70px;
    height: 60px;
    visibility: hidden;
    margin-right:20px;
}
.left-side{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer{
    height: 40px;
    width: auto;
    background-color: var(--primary-pastel-green);
    color: var(--primary-white);
    font-weight: bolder;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.footer-img{
    width: 26px;
    height: 25px;
    cursor: pointer;
    transition:.5s ease-in-out;
}
.footer-img:hover{
    transform: scale(1.1);
    rotate: 1turn;
}
.footer-img:active{
    transform: scale(0.9);
}
@media all and (max-width: 1000px){
    .hamburger-img{
        width:60px;
        height: 60px;
    }
    .hamburger{
        visibility: visible;
    }
    .hamburger:hover{
        transform: scale(110%);
        transition: 0.3s;
        cursor: pointer;
    }
    .hamburger:active{
        transform: scale(90%);
        transition: 0.3;
    }
    .projects-nav{
        display: none;
        flex-grow: 1;
    }
    .task-item{
        gap: 30px;
    }
}
@media all and (max-width: 712px){
    *{
        font-size: 14px;
    }
    .task-item{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .task-item div {
        text-align: center;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .hamburger{
        width: 60px;
        height: 50px;
    }
}
@media all and (max-width: 550px){
    .navigator-name{
       display: none;
    }
    .logo{
        margin-left: 20px;
    }
}
/*Dark mode*/
body.dark .upper-nav, body.dark  .footer, body.dark  #project-modal, body.dark .task-modal{
    background-color: #486f5f;
    border-color: white;
}
body.dark .projects-nav{
    background-color: #313131;
}
body.dark .projects-button, body.dark  .remove-project{
    color: #c7c7c7
}
body.dark .task-display, body.dark .main-content{
    background-color: #3f4140;
}
body.dark .task-disp-desc, body.dark .task-disp-date, body.dark input[type=checkbox], body.dark .navigator-name, body.dark .projects-title, body.dark .pro-instance, body.dark .all-tasks-btn, body.dark .this-week, body.dark .this-month-btn, body.dark .task-date, body.dark .submit-task{
    color: var(--primary-white);
    accent-color: var(--primary-white);
    border: white;
    font-size: bolder;
}
body.dark .task-disp-priority-high{
    color: rgb(255 62 62);
}
body.dark .task-disp-priority-medium{
    color: rgb(255 198 39);
} 
body.dark .task-disp-priority-low{
    color: rgb(57 255 117);
}
body.dark .grey-out{
    color: rgb(175, 175, 175);
}
body.dark .task-priority{
    background-color: #4b4b4b;
    border-color: white;
}
body.dark input#project-title, body.dark .project-add-btn, body.dark .text-area{
    color: white;
    font-weight: bolder;
}
body.dark .submit-task{
    border: 1px solid white;
    font-weight: bolder;
}
body.dark  .text-area:focus{
    outline-color: white;
}
body.dark{
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}
body.dark .theme-switch-icon{
    background-color: #33aad8;
    transform: translateX(40px);
}
body.dark .theme-switch-icon::after{
    background-color: #313131;
    border-radius: 100%;
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    width: 15.5px;
    top: 1.5px;
    left: -3px;
}
body.dark .close-btn, body.dark .remove-project, body.dark .remove-task{
    filter: brightness(0) invert(1);
}
body.dark textarea::placeholder, body.dark #project-title::placeholder{
    color:white;
    opacity: 0.7;
}
body.dark .task-item{
    border-color: rgb(142 244 173);
}